<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_back_online_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".view.activities.ProductListSubCategoriesActivity"></activity>
        <activity
            android:name=".view.activities.FilterSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".view.activities.ProductListSeeAllActivity" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.LoginActivity" />
        <activity
            android:name=".view.activities.ShoppingCartActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.SearchActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.DisconnectActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.DetailProductActivity"
            android:parentActivityName=".view.activities.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.CategoryViewPagerActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.SingleFragmentActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>