<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineshop">

    <application
        android:name=".OnlineShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_back_online_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".view.activities.ReviewActivity"></activity>
        <activity android:name=".view.activities.SettingActivity" />
        <activity android:name=".view.activities.ProductListSubCategoriesActivity" />
        <activity
            android:name=".view.activities.FilterSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activities.ProductListSeeAllActivity" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.LoginActivity" />
        <activity
            android:name=".view.activities.ShoppingCartActivity" />
        <activity
            android:name=".view.activities.SearchActivity"/>
        <activity
            android:name=".view.activities.DisconnectActivity"/>
        <activity
            android:name=".view.activities.DetailProductActivity"
            android:parentActivityName=".view.activities.MainActivity" />
        <activity
            android:name=".view.activities.CategoryViewPagerActivity" />
        <activity
            android:name=".view.activities.SingleFragmentActivity"/>
        <activity
            android:name=".view.activities.MainActivity"/>

        <service
            android:name=".service.PollService"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>